@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(72.51deg, #2F2325 0%, #8E5D52 100%);
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
}

.cabecalho {
    background-color: #2F2325;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ECD6C4;
}

.cabecalho-imagem {
    width: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    color: #ECD6C4;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    transform: scale(1.1);
}

.conteudo {
     margin-bottom: 10px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ECD6C4;
    padding: 40px 0;
}

.conteudo-principal-login {
    background-color: #2F2325;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.conteudo-principal-login-label {
    color: #ECD6C4;
    font-size: 24px;
    margin: 5px 10px;    
}

.conteudo-principal-login-input {
    border-radius: 5px;
    height: 40px;
    width: 300px;
    background-color: #ECD6C4;
    margin: 5px 10px;
    font-size: 14px;
    padding-left: 10px;
}


.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32PX;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    color: #ECD6C4;
}

.conteudo-principal-login-termos {
    display: flex;
    flex-direction: row;
    margin: 12px;
}

.conteudo-principal-login-termos-label {
    color: #ECD6C4;
    font-size: 14px;
    margin-left: 5px;
}

.conteudo-principal-login-submit {
    margin-top: 20px;
    background-color: #F6D76F;
    border-radius: 20px;
    border: solid 4px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    box-shadow: 4px 5px 4px 0 rgba(0, 0, 0, 0.5);
    align-self: center;

}

.conteudo-principal-login-submit:hover {
    color: whitesmoke;
}

.conteudo-principal-imagem {
    padding-top: 20px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ECD6C4;
}

.conteudo-secundario-imagem {
    width: 20%;
}

.rodape {
   margin: 30px auto;
}

.rodape-titulo {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 480px) {

    .cabecalho {
        justify-content: auto;
    }

    .cabecalho-imagem {
        width: 30px;
    }

    .cabecalho-menu {
        gap: 15px;
    }

    .conteudo-principal {
       flex-direction: column;
       gap: 30px;
    }

    .conteudo-principal-login {
        align-items: center;
       width: 350px;
    }
}