@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(72.51deg, #2F2325 0%, #8E5D52 100%);
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
}

.cabecalho {
    background-color: #2F2325;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ECD6C4;
}

.cabecalho-imagem {
    width: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item {
    color: #ECD6C4;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    transform: scale(1.1);
}

.conteudo {
     margin-bottom: 10px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ECD6C4;
    padding: 40px 0;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32PX;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    color: #ECD6C4;
}

.conteudo-principal-escrito-texto {
    color: #ECD6C4;
    
}

.conteudo-principal-escrito-botao:hover {
    color: whitesmoke;
}

.conteudo-principal-imagem {
    padding-top: 20px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ECD6C4;
}

.conteudo-secundario-imagem {
    width: 20%;
}

.rodape {
   margin: 30px auto;
}

.rodape-titulo {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 480px) {

    .cabecalho {
        justify-content: auto;
    }

    .cabecalho-imagem {
        width: 30px;
    }

    .cabecalho-menu {
        gap: 15px;
    }

    .conteudo-principal {
       flex-direction: column;
       gap: 30px;
    }

    .conteudo-principal-escrito {
        text-align: center;
        align-items: center;
        margin: 0 10px;
    }

    .conteudo-principal-imagem {
        width: auto;
    }
}